<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <title>ally</title>

    <meta property="og:title" content="ally" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://ally.drab-makyo.com/og-logo.png" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:description" content="ally is an ergodic autobiographical project for Madison Scott-Clary" />

    <meta http-equiv="X-Clacks-Overhead" content="GNU Margaras" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    {{ if (isset .Params "background") }}
    <style>
    * {
        background-color: {{.Params.background}};
        color: {{.Params.color}};
    }
    blockquote {
        color: {{.Params.quote}};
    }
    </style>
    {{end}}
</head>
