<head>
    <title>ally</title>

    <meta property="og:title" content="ally" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://ally.id/og-logo.png" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:description" content="ally is an ergodic semiautobiographical project for Madison Scott-Clary" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    {{ if (isset .Params "background") }}
    <style>
    * {
        background-color: {{.Params.background}};
        color: {{.Params.color}};
    }
    blockquote {
        color: {{.Params.quote}};
    }
    {{ if (isset .Params "pulse_light")}}
    @keyframes flash {
        from {
            background-color: rgba(255, 255, 255, 0);
        }

        to {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    {{ end }}
    </style>
    {{end}}
</head>
