{{ define "main" }}
{{ $paginator := .Paginate (where .Pages.ByPublishDate.Reverse ".Params.date" "!=" nil) 1 }}
{{ $content := .Content }}
{{ range $paginator.Pages.ByWeight }}
<main id="main"{{ if (isset .Params "fit" )}} class="fit"{{ end }}>
    {{ $content }}
    <div class="page">
        <p class="date">{{ .Date.Format "January 2, 2006" }}</p>
        {{ .Content }}
    </div>
    {{ end }}
    {{ partial "pagination.html" . }}
    {{ if (isset .Params "back") }}
    <div style="text-align: center;"><a href="{{ .Params.back }}" class="pulse">&laquo; back to where we left off</a></div>
    {{ end }}
</main>
{{end}}
