@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Ubuntu+Mono|Merriweather+Sans&display=swap');

/* Resets */
*,
*::before,
*::after {
    font-family: inherit;
    background-color: inherit;
    color: inherit;
    box-sizing: border-box;
}
html {
    font-size: calc(1em + 0.33vw);
    line-height: 1.5;
    color: #111;
    background-color: #fefefe;
}
.priority {
  margin-top: 0;
}
a {
    text-decoration: none;
    border-bottom: 1px solid;
}
abbr {
    text-decoration: none;
    cursor: help;
    border-bottom: 1px dashed;
}
img {
    width: 100%;
    max-height: none;
}
p img {
    margin: 0.75rem 0;
}
figure p img {
    margin: 0;
}
:focus:not([tabindex="-1"]),
[data-expands]:focus svg,
.patterns a:focus .text,
[for="themer"] :focus + [aria-hidden] {
    outline: 4px solid #999;
}
a {
  outline-offset: 2px;
}

/* Specific stuff */
body {
    color: #222;
    font-size: 16pt;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
header {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 1rem;
}
h1 {
    padding: 0;
    margin: 0;
}
h1 a {
    border: none;
}
main {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    font-family: 'Gentium Book Basic', serif;
}
footer {
    color: #888;
    font-size: 12pt;
    padding: 1rem;
    font-family: 'Gentium Book Basic', serif;
    margin: 0;
}
blockquote {
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    margin: 1.25rem 0 1.25rem 1rem;
    font-size: 14pt;
    color: #444;
}
blockquote em {
    font-style: normal;
}
.verse {
    border: 1px solid #eee;
    padding: 1em;
    white-space: pre-wrap;
    margin-top: 0;
}
.cw {
    color: #800;
    text-align: right;
}
.cw:before {
    content: '⚠';
    display: block;
    font-size: 32pt;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
}
pre {
    border: 1px solid #eee;
    padding: 1em;
    white-space: pre-wrap;
    font-family: 'Ubuntu Mono', monospace;
}
code {
    font-family: 'Ubuntu Mono', monospace;
}
audio {
    display: block;
    margin: 0 auto;
}


@keyframes flash {
    from {
        background-color: rgba(128, 128, 128, 0);
    }

    to {
        background-color: rgba(128, 128, 128, 0.2);
    }
}
.pulse, .pulse span {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.pulse {
    padding: 0 3px;
}

/* pagination */
ul.pagination {
    list-style-type: none;
    display: block;
    padding-left: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

ul.pagination li {
    display: inline-block;
    padding: 2px;
    margin-right: -7px;
}

ul.pagination li a {
    border: none;
    display: inline-block;
    min-width: 2rem;
    text-align: center;
}

ul.pagination li:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

ul.pagination .page-item.too-many {
    color: #666;
    margin: 0 14px 0 7px;
    font-style: italic;
}

ul.pagination .page-item.disabled a {
    color: #666;
    border: none;
    cursor: text;
}

ul.pagination .page-item.active a {
    text-decoration: none;
    font-style: italic;
    border: none;
    cursor: text;
}
