@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Ubuntu+Mono|Merriweather+Sans&display=swap');

/* Resets */
*,
*::before,
*::after {
    font-family: inherit;
    background-color: inherit;
    color: inherit;
    box-sizing: border-box;
}
html {
    font-size: calc(1em + 0.33vw);
    line-height: 1.5;
    color: #111;
    background-color: #fefefe;
}
.priority {
  margin-top: 0;
}
a {
    text-decoration: none;
    border-bottom: 1px solid;
}
.zoom {
    display: block;
    text-align: center;
}
.zoom a {
    border: none;
    font-size: 2em;
    outline: none !important;
}
abbr {
    text-decoration: none;
    cursor: help;
    border-bottom: 1px dashed;
}
img {
    width: 100%;
    max-height: none;
}
p img {
    margin: 0.75rem 0;
}
figure p img {
    margin: 0;
}
:focus:not([tabindex="-1"]),
[data-expands]:focus svg,
.patterns a:focus .text,
[for="themer"] :focus + [aria-hidden] {
    outline: 4px solid #999;
}
a {
  outline-offset: 2px;
}
dt {
  font-weight: bold;
}

/* Specific stuff */
body {
    color: #222;
    font-size: 16pt;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
header {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 1rem;
}
h1 {
    padding: 0;
    margin: 0;
    width: 49%;
    display: inline-block;
}
h1 a {
    border: none;
}
header nav {
    display: inline-block;
    width: 49%;
    text-align: right;
    font-size: 16pt;
}
header nav a {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    margin: 0 0 0 1.5rem;
    border: none;
}
header nav a:first-of-type {
    margin: 0;
}
main {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    font-family: 'Gentium Book Basic', serif;
}
main.full {
    max-width: 100%;
}
main.full svg {
    margin: auto;
}
main.fit .page .verse {
    white-space: pre;
    overflow-x: scroll;
}
main.fit svg {
    max-width: 100%;
    height: auto;
}
.date {
    font-size: 10pt;
    opacity: 0.3;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
}
footer {
    color: #888;
    font-size: 12pt;
    padding: 1rem;
    font-family: 'Gentium Book Basic', serif;
    margin: 0;
}
blockquote {
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    margin: 1.25rem 0 1.25rem 1rem;
    font-size: 14pt;
    color: #444;
}
blockquote em {
    font-style: normal;
}
.verse {
    font-family: 'Gentium Book Basic', serif;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    white-space: pre-wrap;
    margin-top: 0;
}
.verse blockquote {
    margin-bottom: 0;
}
.nostalgia {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
}
.cw {
    color: #800;
    text-align: right;
}
.cw:before {
    content: '⚠';
    display: block;
    font-size: 32pt;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
}
.news-summary .cw {
    text-align: left;
    font-size: 14pt;
}
.news-summary .cw:before {
    display: inline-block;
    margin-right: 0.25rem;
    font-size: 28pt;
    vertical-align: middle;
}
.info {
    color: #008;
    text-align: right;
}
.info:before {
    content: 'ⓘ';
    display: block;
    font-size: 32pt;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
}
pre {
    padding: 1em;
    border: 1px solid #eee;
    white-space: pre-wrap;
    font-family: 'Ubuntu Mono', monospace;
}
code {
    font-family: 'Ubuntu Mono', monospace;
}
audio {
    display: block;
    margin: 0 auto;
}
.ally-font {
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    opacity: 0.9;
    font-size: 93%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.ad {
    max-width: 600px;
    background-color: #fff;
    margin: 2rem auto;
    padding: 0.5rem;
    max-height: 90vh;
    overflow: scroll;
    position: relative;
}
.ad * {
    background: #fff;
    color: #111;
}
.ad .close {
    background-color: transparent;
    text-align: right;
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
}
.ad a.noborder {
    border: none;
}
.ad h2 {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    margin-top: -1rem;
}
.ad img {
    max-width: 75%;
    margin: 0 auto;
    border: 2px solid #888;
    display: block;
}

@keyframes flash {
    from {
        background-color: rgba(128, 128, 128, 0);
    }

    to {
        background-color: rgba(128, 128, 128, 0.2);
    }
}
.pulse, .pulse span {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.pulse {
    padding: 0 3px;
}

/* pagination */
ul.pagination {
    list-style-type: none;
    display: block;
    padding-left: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

ul.pagination li {
    display: inline-block;
    padding: 2px;
    margin-right: -7px;
}

ul.pagination li a {
    border: none;
    display: inline-block;
    min-width: 2rem;
    text-align: center;
}

ul.pagination li:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

ul.pagination .page-item.too-many {
    opacity: 0.5;
    margin: 0 14px 0 7px;
    font-style: italic;
}

ul.pagination .page-item.disabled a {
    opacity: 0.4;
    border: none;
    cursor: text;
}

ul.pagination .page-item.active a {
    text-decoration: none;
    font-style: italic;
    border: none;
    cursor: text;
}

.book-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.book-box .book-cover {
    flex: 2;
    padding: 0px 1rem;
}

.book-box .book-cover img {
    width: 100%;
    box-shadow: 5px 5px 10px #ccc;
    min-width: 500px;
}

.book-box .book-about {
    flex: 1;
    min-width: 200px;
}

.book-box .book-about blockquote {
    margin: 0px 1rem;
    text-align: justify;
    border-bottom: 1px solid #ccc;
}

.book-box .book-about p {
    margin: 1rem;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    main.fit .page .verse {
        font-size: 10pt;
    }
    main.fit .page .verse blockquote {
        font-size: 8pt;
    }
}
